body{
    background-color: mediumslateblue;
}
h1{
    color:black ;
    background-color: steelblue;
    margin-top: 0px;
    padding-top: 5px;
    padding-bottom: 5px;
}

canvas{
    border:5px solid burlywood;
    border-radius: 20px;
    animation-name: 4s;
    margin: 50px;
    animation-iteration-count: infinite;
}
@keyframes example{
    from {box-shadow: 1px 1px  38px black;}
    to{box-shadow: 1px 1px  38px white;}
}
p{
    padding-top: 10px;
    font-size: 25px;
}
#show_sketch{
    float: right;
}